init.author.name=name
init.author.email=name@amdocs.com
init.author.url=http://blog.example.com
email=name@amdocs.com
_auth=ZGVwbG95bWVudDpkZXBsb3ltZW50MTIz
registry=https://registry.npmjs.org/
https-proxy=null
http-proxy=null
proxy=null
strict-ssl=false